<html>
  <head>
    <title>WFB-simulation</title>
  </head>
  <body>
      <form action="", method = "post">

        {{ form.hidden_tag() }}


        <table>
          <tr>
            <th>Characteristic</th>
            <th>Unit 1</th>
            <th>Unit 2</th>

          </tr>

          <tr>
            <td>Name</td>
            <td>{{ form.name1 }}
              {% for error in form.name1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.name2 }}
              {% for error in form.name2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>

          </tr>

          <tr>
            <td>Number of models</td>
            <td>{{ form.models1 }}
              {% for error in form.models1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.models2 }}
              {% for error in form.models2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          <tr>
            <td>Weapon Skill</td>
            <td>{{ form.WS1 }}
              {% for error in form.WS1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.WS2 }}
              {% for error in form.WS2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          
          <tr>
            <td>Strength</td>
            <td>{{ form.S1 }}
              {% for error in form.S1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.S2 }}
              {% for error in form.S2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          <tr>
            <td>Toughness</td>
            <td>{{ form.T1 }}
              {% for error in form.T1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.T2 }}
              {% for error in form.T2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          <tr>
            <td>Initiative</td>
            <td>{{ form.I1 }}
              {% for error in form.I1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.I2 }}
              {% for error in form.I2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          
          <tr>
            <td>Save</td>
            <td>{{ form.Sv1 }}
              {% for error in form.Sv1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.Sv2 }}
              {% for error in form.Sv2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
          
          <tr>
            <td>Leadership</td>
            <td>{{ form.Ld1 }}
              {% for error in form.Ld1.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>
            <td>{{ form.Ld2 }}
              {% for error in form.Ld2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br></td>

          </tr>


        </table>


      <p>
        Number of simulation runs: {{ form.runs }}
          {% for error in form.Ld2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
        <input type="submit", value="Submit"></p>
      </form>
  <div><hr>
    <p>Win %:</p>

    {{ output }}

    <p>
      <a href="/results.csv" download>Download results</a>
    </p>

    <p>
      <a href="/log.txt" download>Download detailed log</a>
    </p>
  </body>
</html>